<!--ブックマーク一覧画面-->
<div class="container">
  <h2 class="text-center">ブックマーク一覧</h2>
  <div class="row">
    <div class="col-sm-12">  
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <table class="table-bordered table-condensed">
            <% if @favorites.present? %> 
              <tr>
                <th>お気に入り登録した物件</th>
              </tr>
              <% @favorites.each do |favorite| %>
                <tr>
              	  <td>
                    <%= link_to property_path(favorite.id), class: "col-sm-9" do %>
                      <%= favorite.property.property_name %>    
                    <% end %>  
                    <%= link_to "削除", favorite_path(favorite.id), class: "col-sm-3 btn btn-danger", method: :delete %>  
                  </td>  
                </tr> 
              <% end %>
            <% else %>
              <h3 class="nothing">ブックマーク登録はありません</h3>  
            <% end %>  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>