<h2>ブックマーク一覧</h2>
  <% @favorites.each do |favorite| %>
    <div>
    	<%= link_to property_path(favorite.id) do %>
      <%= favorite.property.property_name %>  
      <% end %>
    </div>
    <div>
      <%= link_to "ブックマークから削除", favorite_path(favorite.id), method: :delete %>        
    </div>     
  <% end %>
