<div class="container">
  <div class="row">
    <div class="col-xs-12">  
    <h2 class="text-center">ブックマーク一覧</h2>
     <div class="field row">
      <div class="col-sm-8 col-sm-offset-2">
      <% @favorites.each do |favorite| %>
        <ul class="fav">
        	<%= link_to property_path(favorite.id) do %>
            <li><h3><%= favorite.property.property_name %></h3></li>
          <% end %>
          <li><%= link_to "削除", favorite_path(favorite.id),class: "btn btn-danger", method: :delete %></li>  
        </ul> 
      <% end %>
    </div>
  </div>
    </div>
  </div>
</div>
