<!--自分の投稿した物件一覧-->
<div class="container">
	<h2 class="text-center">自分の投稿した物件</h2>
	<div class="row">
		<div class="col-sm-12">    
		  <div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<table class="table table-bordered table-condensed">							  
				    <% if @properties.present? %>
					    <tr>
							  <th>物件名</th>
							  <th>種別</th>
					    </tr>
					    <% @properties.each do |property| %>
						    <tr>
						      <td><%=link_to property.property_name, property_path(property) %></td>　
									<td><%= property.genre.genre %></td>								
						    </tr>
					    <% end %>
					  <% else %>
					  	<h3 class="text-center">投稿はありません</h3>
					  <% end %>	  
					</table>
				</div>
			</div>
		</div>
	</div>
</div>			
	
							

