<!--物件詳細-->
<div class="container">
  <div class="row">
    <div class="property_index col-sm-12">
      <%= render 'image' %>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= render 'information' %>
          <%= render 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>





