
  <div class="container">
    <div class="row">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">このアプリについて</h1>
        <hr class="divider my-4" />
       </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 font-weight-light mb-5">これはポートフォリオです。これはポートフォリオです。これはポートフォリオです。
                  これはポートフォリオです。これはポートフォリオです。これはポートフォリオです。これはポートフォリオです。これはポートフォリオです。これはポートフォリオです。</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">詳しく見る</a>
     </div>
    </div>
  </div>
