<section>
  <header>
    <h2><span>Theme</span></h2>
  </header>
  <div class="inner">
    <div class="article">
      <%= image_tag "act.jpg",align:"left",width:"370",height:"224",alt:""%>
      <p align="center"><strong>日本全国から物件を検索</strong></p>
      <p>「発表会を開きたいけど場所が見つからない」、「演劇の練習場所が見つからない」。こんなお悩みを解決することができるのが「ドコアクト」です。</p>
      <p>都道府県ごとに劇場、練習場を検索することができるので、普段と違う地域で急遽公演の予定が入ってもすぐに物件を見つけることができます。物件の投稿者とは物件詳細ページにある「コンタクトを取る」よりチャットにて直接連絡を取ることができます。</p>
    </div>

    <div class="article2">
      <%= image_tag "ballet.jpg",align:"right",width:"370",height:"224",alt:""%>
      <p align="center"><strong>貸し出したい物件はありませんか？</strong></p>
      <p>ドコアクトでは完全無料で劇場やスタジオの貸し出しも可能です。「物件を投稿する」から詳細な情報を入力し、投稿することができます。</p>
      <p>具体的な貸し出し条件はアプリ内チャットでユーザーと話し合いの上、お決めください。</p>
    </div>
  </div>
</section>