<div class='row'>
  <div class="col-xs-9">
    <h2>
      日本全国から劇場、貸しスタジオを検索！
    </h2>

    <!--ギャラリーエリア-->
  
      
        
    
        <div id="slide_show">
          <ul id="slide">
            <li><img src="assets/theater1.jpg"></li> 
            <li><img src="assets/theater2.jpg"></li>
            <li><img src="assets/theater3.jpg"></li>
            <li><img src="assets/theater4.jpg"></li>
          </ul>
          <div id="nav_btn">
            <a class="prev"><img src="assets/btn_prev.png"></a>
            <a class="next"><img src="assets/btn_next.png"></a>
          </div>
        </div>  
      
    

    <br>
    <% @prefectures.each do |prefecture| %>
      <div class="clearfix col-xs-4 item-box space">
        <%= link_to properties_path(prefecture_id:prefecture.id) do %> 
          <div class="row">
            <h4><%= prefecture.name %></h4>
          </div>
        <% end %>  
      </div> 
    <% end %>   
  </div>
</div>