<div class='row'>
  <div class="col-xs-9">
    <h2>
      <!-- <span style="display: inline-block;"><%= @item_title %></span> -->
    </h2>
    <% @prefectures.each do |prefecture| %>
      <div class="clearfix col-xs-4 item-box space">
        <%= link_to properties_path(prefecture_id:prefecture.id) do %> 
          <div class="row">
            <h4><%= prefecture.name %></h4>
          </div>
        <% end %>  
      </div> 
    <% end %>   
  </div>
</div>