<!-- チャット履歴一覧画面-->
<div class="container">
  <h2 class="text-center">メッセージ履歴一覧</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class='row'>
        <div class="col-sm-8 col-sm-offset-2">
          <table class="table-bordered table-condensed">
            <tr>
              <th>コンタクト中のお相手</th>
            </tr>
            <% @anotherRoomUsers.each do |r| %>                 
              <tr>
                <td>
                  <%= link_to room_path(r.room.id) do %>
                    <%= r.user.name %>さん 
                  <% end %>
                </td> 
              </tr>    
            <% end %>
          </table>   
        </div>
      </div>    
    </div>
  </div>
</div>