<!-- チャット履歴一覧画面-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>
               メッセージ相手
            </th>  
            <th>
               メッセージ内容
            </th>
          </tr>
        </thead> 
       </table>    
        <tbody>
          <%= @another_message_users.each do |message_user| %>
            <tr>
              <td>
                <%= link_to message_user.property.property_name, property_path(message_user.property) %>
              </td>  
              <td>
                <%= link_to room_path(message_user.room) do %>
                  <%= Message.find_by(id: message_user.room.message_ids.last)&.body %>
                <% end %>
              </td>  
            </tr>
          <% end %>  
        </tbody>
      </div>
    </div>
  </div>