<!-- チャット履歴一覧画面-->
   <h2>チャット履歴一覧</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>
               メッセージ相手
            </th>  
            <th>
               メッセージ内容
            </th>
          </tr>
        </thead> 
       </table>    
        <tbody>
          <% @rooms.each do |r| %>
            <p>
              <a href="/rooms/<%= r.id %>">            
                <% @users.each do |u| %>
                  <%= u.name %>
                  
                <% end %>
              </a>
            </p>
          <% end %>
        </tbody>
      </div>
    </div>
  </div>