/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";         

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);


body{
  font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust:100%;
  overflow-x: hidden;
  color: #000;
  background: #fff;
}



/* ヘッダー
------------------------------------------------------------*/
#header{
  text-align: center;
  padding: 60px 0;
}

#mainnav a{
padding-top:40px;
  color: #000;
}



/* フッター
------------------------------------------------------------*/
#footer{
  clear: both;
  padding: 50px 10px 50px 0;
  text-align: center;
  font-size: 12px;
}


/* 共通
------------------------------------------------------------*/
section{
  clear:both;
  padding-top: 70px;
}

section h2{
  font-family: 'Pacifico', cursive;
  width: 60%;
  margin: 0 auto 40px;
  font-size: 22px;
  font-weight:normal;
  text-align: center;
}

section h2 span {
  background: #fff;
  padding: 0 80px;
}

.inner{
  width: 94%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.intro{
  width: 35%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.top-menu{
  padding-top:80px;
}




/* PCサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {

}



/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .swiper-container{
    width: 600px;
  }
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .swiper-container{
    height: 200px;
    width: 300px;
  }
  .intro{
    width: 200px;
  }

  
}



