/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";         

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);


/*リセット
------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダー
------------------------------------------------------------*/
#header{
  text-align: center;
  padding: 50px 0;
}

#mainnav a{
padding-top:40px;
  color: #000;
}



/* フッター
------------------------------------------------------------*/
#footer{
  clear: both;
  padding: 150px 10px 50px 0;
  text-align: center;
  font-size: 12px;
}


/* 共通
------------------------------------------------------------*/

.guest{
  text-align: center;
  color:red;
}

h2{
  text-align:center;
}

section{
  clear:both;
  padding-top: 50px;
}

section h2{
  font-family: 'Pacifico', cursive;
  width: 60%;
  margin: 0 auto 40px;
  font-size: 22px;
  font-weight:normal;
  text-align: center;
}

label{
  padding:10px 5px;
  width:100%;
  font-size:12px;
}

.top-menu{
  padding-top:40px;
}

.property_table{
  text-align:center;
}


 .actions{
  margin: 15px 0;
  }

  .registration{
  padding:1px 45px;
  }

.session{
  margin-bottom:20px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 
------------------------------------------------------------*/

@media screen and (max-width:768px) {
  ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .swiper-container{
    width: 600px;
  }
  .icon{
  margin-top:10px;
  }

  .button{
  display: inline-block; 
  width: 200px;  
 }
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 
------------------------------------------------------------*/

@media screen and (max-width:425px) {
  ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .swiper-container{
    height: 200px;
    width: 300px;
  }

  .intro{
    width: 250px;
  }

  .search{
    width:300px;
    margin-top:20px;
  }

  .image, .index-image{
    width:350px;
    height:300px;
  }
  .wrapp {
    display: flex;
    flex-direction: column;
  }


.property_table{
  width:45%;
  }

.property_box{
  margin:0 auto;
}

  .prefecture{
  display:flex;
  width:90%;
  background-color:#FFFFCC;
  border: 1px solid black;
  }

  .prefecture h4{
  padding-left:100px;
  }


  .prefectures{  
   background-color:white;
   border:none;

  }


  .article2{
    padding-top:50px;
  }

  .contact{
  width:70%;
  }

  .unscribe{
  text-align:center;
    margin-top:70px;
  }

  label{
  width:100px;
  }

  .nothing{
  font-size:18px;
  text-align:center;
  }

  .table{
    width:100%;
  }
  .info{
    height:50px;
  }

  .form{
  width:200px;
  }

  .control-label{
  font-size:10px;
  }

  .index_image{
    width:200px;
    height:200px;
  }

  .user_table{
  padding-bottom:10px;
  }  

  .fa, .far, .fas {
    width:100%;
    margin-top: 15px;
    padding:10px;
  }

}




