// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-image: url("musical.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}