// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table th{
	background-color: #C0C0C0;

}

.property{
	padding-bottom: 20px;
}

.property_name{
	border-top: 1px solid #C0C0C0;
	padding-top: 20px;
}

.price{ 
	color: red;
}

.post-image{
	margin-bottom:50px;
	text-align:center;
}


.introduction {
  width: 250px;
  height: 100px;
}

.search{
    width:350px;
    margin-top:20px;
  }



.image{
	width:600px;
	height:600px;
}

.index-image{
	width:300px;
	height:300px;
}

table, td{
	padding-top:20px

}



