// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon{
	width: 170px;
	color: white;
	margin:10px;
}

.btn-purple{
	background-color: purple;
}

.user{
   width:250px;
   margin-top:20px;
 }
 
 .unscribe{
    margin-top:70px;
  }