// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.icon{
	width: 200px;
	color: white;
}

.btn-purple{
	background-color: purple;
}

h2{
	padding-bottom:20px;
}